<h1><%= @chef.name %></h1>
<%= link_to "All Ingredients #{@chef.name} Uses", chef_ingredients_path(@chef) %>

<h3>3 Most Popular Ingredients</h3>
<ol>
  <% @chef.most_popular_ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ol>
