<h1><%= @dish.name %></h1>
<ul>
  <li>Chef: <%= @dish.chef_name %></li>
  <li>Total Calories: <%= @dish.total_calories %>
</ul>
<h3>Ingredients:</h3>
<ol>
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ol>